<div class="main-content">
  <div class="logo">
    <img class="la" src="../../../../assets/images/logo.png" alt="logo-low-app">
  </div>
  <div class="title">
    <h1>¿Qué estás buscando?</h1>
  </div>
  <div class="screen">
    <table>
      <tr>
        <td>
          <div class="box" (click)="goOptions()">
            <h4>Ofrecer mis servicios como abogado</h4>

          </div>
        </td>
        <td>
          <div class="box" (click)="goOptions()">
            <h4>Encontrar a un abogado</h4>
          </div>
        </td>
      </tr>

    </table>

  </div>
  <div class="image-bottom">
    <img src="../../../../assets/images/image_bottom.jpg" alt="">
  </div>
</div>
