<div class="main">
  <div class="card" style="border-radius: 10px; margin-top: 25px; margin-right: 25px;width: 85%;">
    <div class="row">
      <div class="col-12">
        <div class="search">
          <input type="text" placeholder="Buscar en el historial de cambios">&nbsp;
          <select  id=""  style="border-radius: 15px !important; background-color: #f2f2f2;" (click)="openFilters()">
            <option value="Sep2023" class="dates">Filtro</option>
          </select>
        </div>
      </div>
     </div>
     <div class="row">
      <div class="col-12">
        <table>
          <tr style="background-color: #F0F4F7;border-radius: 10px;">
            <th></th>
            <th>Cambio realizado</th>
            <th>Fecha </th>
            <th>Hora</th>
            <th>Persona</th>
          </tr>
          <tr style="background-color: #fff;"><td></td><td></td><td></td><td></td><td></td></tr>
          <tr>
            <td><mat-icon>check_circle_outline</mat-icon></td>
            <td>Cita “Nombre de la cita”</td>
            <td>Martes, 23 de Septiembre 2023</td>
            <td>00:00 AM</td>
            <td> <img src="../../../../assets/images/users.PNG" alt=""> Raquel Ortiz</td>

          </tr>
          <tr>
            <td><mat-icon>check_circle_outline</mat-icon></td>
            <td>Cita “Nombre de la cita”</td>
            <td>Martes, 23 de Septiembre 2023</td>
            <td>00:00 AM </td>
            <td><img src="../../../../assets/images/users.PNG" alt=""> Raquel Ortiz</td>
          </tr>
          <tr>
            <td><mat-icon>check_circle_outline</mat-icon></td>
            <td>Cita “Nombre de la cita”</td>
            <td>Martes, 23 de Septiembre 2023</td>
            <td>00:00 AM</td>
            <td><img src="../../../../assets/images/users.PNG" alt=""> Raquel Ortiz</td>
          </tr>
        </table>
      </div>
    </div>
  <br />
  </div>
</div>
