<div class="main-content">
  <div class="column">
  <div class="logo">
    <img class="la" src="../../../../assets/images/logo_orange.jpg" alt="logo-low-app">
  </div>
  <ul>
    <li><a class="active" routerLink="/index"><span> <mat-icon>home_outline</mat-icon> </span>Inicio</a></li>
    <li><a routerLink="/schedule"> <span> <mat-icon>schedule_outline</mat-icon> </span>Configurar horarios</a></li>
    <li><a routerLink="/vacancies"> <span> <mat-icon>work_outline</mat-icon> </span>Buscar vacantes</a></li>
    <li><a routerLink="/dates"> <span> <mat-icon>assignment_outline</mat-icon> </span>Tus citas</a></li>
    <li><a routerLink="/messages"> <span> <mat-icon>message_outline</mat-icon> </span>Mensajes</a></li>
    <li><a routerLink="/calendar"> <span> <mat-icon>calendar_today</mat-icon> </span>Calendario</a></li>
    <li><a routerLink="/cases"> <span> <mat-icon>data_usage_outline</mat-icon> </span>Tus casos</a></li>
    <li><a routerLink="/sentences"> <span> <mat-icon>check_circle_outline</mat-icon> </span>Sentencias judiciales</a></li>
    <li><a routerLink="/news"> <span> <mat-icon>list_alt</mat-icon> </span>Noticias</a></li>
    <li><a routerLink="/profile"> <span> <mat-icon>person_outline</mat-icon> </span>Perfil</a></li>
  </ul>
</div>
</div>
