div.main-content{
   border-radius: 15px;
  img{
    margin-top: 25px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 65px;
    width:65px;
  }
  h2{
    margin-top: 30px;
    font-family: 'Poppins';
    color: #181937;
    font-size: 30px;
    font-weight:bold;
    text-align: center;
  }
}
