<div class="main-content">
  <div class="row">
    <div class="col-2">
      <nav>
        <admin-sidebar></admin-sidebar>
      </nav>
    </div>

    <div class="col-10">
        <article>
          <div class="head">
            <div class="row top">
              <div class="col-5"> <p class="head">  <span *ngIf="content">Marketing y promoción </span>  <span *ngIf="new">Crear campaña </span> <span *ngIf="active">Marketing y promoción </span></p></div>
              <div class="col-5"> <p>  <span class="side"> <mat-icon class="mat-18">notifications</mat-icon> <span class="profile"> <img src="../../../../assets/images/image_profile.jpg" alt=""> Ana Richardson </span></span>   </p></div>
            </div>
           </div>

           <div class="note">
          <p *ngIf="content">Impulsa tu plataforma con marketing.</p>
          <p *ngIf="new">Diseña tu próxima campaña de marketing aquí.</p>
          <br *ngIf="new" />
           </div>
           <div class="row options" *ngIf="content">
             <div class="green" (click)="create()">
               <p>Crear nueva campaña</p>
             </div>
             <div class="red" (click)="getActive()" >
                <p class="one">Campañas activas </p>
                <p>12</p>
             </div>


           </div>

           <div class="row">
            <div class="col-12">
              <div class="search" *ngIf="content">
                <input type="text" placeholder="Buscar campaña por nombre o número de campaña">&nbsp;
                <select  id="" (click)="openFilters()" style="border-radius: 15px !important; background-color: #f2f2f2;">
                  <option value="Sep2023" class="dates">Filtros</option>
                </select>
              </div>
            </div>
           </div>
           <div class="row">
            <div class="col-12">
             <marketing-table *ngIf="content">
             </marketing-table>
            </div>
          </div>
        <br />

        <create-camapaign *ngIf="new"></create-camapaign>
        <br>
        <active-campaingn  *ngIf="active"></active-campaingn>
        </article>
    </div>
  </div>
</div>
