<div class="main-content">
 <div class="row">
  <div class="col-2">
    <nav>
      <admin-sidebar></admin-sidebar>
    </nav>
  </div>
   <div class="col-10">
      <article>
        <div class="head">
          <div class="row top">
            <div class="col-5"> <p class="head">  <span>Análisis y estadísticas </span> </p></div>
            <div class="col-5"> <p>  <span class="side"> <mat-icon class="mat-18">notifications</mat-icon> <span class="profile"> <img src="../../../../assets/images/image_profile.jpg" alt=""> Ana Richardson </span></span>   </p></div>
          </div>
         </div>

         <div class="note">
          <p>
            Analiza y optimiza el rendimiento de la plataforma.
          </p>
         </div>

         <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-6 register">
                <p class="quantity">1584</p>
                <p class="title">Clientes registrados </p>
              </div>
              <div class="col-6 active">
                <p class="quantity">150</p>
                <p class="title">Clientes activos </p>
              </div>
            </div>
            <div class="row">
              <div class="col-6 case">
                <p class="quantity">100</p>
                <p class="title">Casos activos</p>
              </div>
              <div class="col-6 lawyers">
                <p class="quantity">140</p>
                <p class="title">Abogados activos</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="chart">
              <cases-analitics></cases-analitics>
            </div>
          </div>
         </div>
         <br />
         <div class="row">
          <div class="col-6">
            <div class="active">
              <active-analitics> </active-analitics>
            </div>
          </div>
          <div class="col-6">
            <div class="incomes">
              <incomes-analitics> </incomes-analitics>
            </div>
          </div>
         </div>
         <br />
         <div class="row">
          <div class="card search-bar">
            <div class="search">
              <input type="text" placeholder="Buscar tipo de dato">&nbsp;
              <select  id="" style="border-radius: 15px !important; background-color: #f2f2f2;" (click)="openData()">
                <option value="Sep2023" class="dates">Filtro</option>
              </select>
            </div>
          </div>
         </div>
      </article>
   </div>
 </div>
</div>
