<div class="main-content">
  <H2>Filtros de casos</H2>
  <h4>Fecha de inicio</h4>
  <div class="row">
    <div class="col-2">
      <div class="search">
        <input type="text" placeholder="Septiembre">
      </div>
    </div>
    <div class="col-1">
      <div class="search">
        <input type="text" placeholder="23">
      </div>
    </div>
    <div class="col-2">
      <div class="search">
        <input type="text" placeholder="2023">
      </div>
    </div>
    <div class="col-1">
      <p class="to">hasta </p>
    </div>
    <div class="col-2">
      <div class="search">
        <input type="text" placeholder="Mes">
      </div>
    </div>
    <div class="col-1">
      <div class="search">
        <input type="text" placeholder="00">
      </div>
    </div>
    <div class="col-2">
      <div class="search">
        <input type="text" placeholder="0000">
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <h4>Estado de caso</h4>
    <div class="col-4">
      <div>
        <input type="radio"  name="cursed" value="curse" checked />
        <label for="cursed">En curso</label>
      </div>
      <div>
        <input type="radio"  name="closed" value="closed" />
        <label for="closed">Cerrado</label>
      </div>
      <div>
        <input type="radio"  name="saved" value="saved" />
        <label for="saved">Archivado</label>
      </div>
    </div>
    <div class="col-4">
          <div>
            <input type="radio"  name="cancelled" value="cancelled" checked />
            <label for="cancelled">Cancelado</label>
          </div>
          <div>
            <input type="radio"  name="appeal" value="appeal" />
            <label for="appeal">En apelación</label>
          </div>
          <div>
            <input type="radio"  name="litigation" value="litigation" />
            <label for="litigation">En lítigio</label>
          </div>
    </div>

    <div class="col-4">
          <div>
            <input type="radio"  name="negotiation" value="negociation" checked />
            <label for="negotiation">En negociación</label>
          </div>
          <div>
            <input type="radio"  name="revision" value="revision" />
            <label for="revision">Revisión legal</label>
          </div>
          <div>
            <input type="radio"  name="documents" value="documents" />
            <label for="documents">En revisión de documentos</label>
          </div>
     </div>


  </div>

  <br />
  <div class="row">
    <h4>Costo</h4>
    <div class="col-3">
      <div class="search">
        <input type="text" placeholder="$0000000">
      </div>
    </div>
    <div class="col-2">
      <p class="to">hasta </p>
    </div>
    <div class="col-3">
      <div class="search">
        opcional
        <input type="text" placeholder="$0000000">
      </div>
    </div>
  </div>
   <br />
   <div class="button">
    <button type="submit" class="btn btn-primary" style="background-color: #181937;" >Buscar</button>
   </div>

  </div>

