<div class="main-content">
  <div class="row">
    <div class="col-2">
      <nav>
        <sidebar></sidebar>
      </nav>
    </div>

   <div class="col-10">
    <article>
      <div class="head">
        <div class="row top">
          <div class="col-5"> <p class="head"><span (click)="goVacancies()"><mat-icon style="cursor: pointer;">keyboard_arrow_left</mat-icon></span>  <span> Buscar vacantes </span> </p></div>
          <div class="col-5"> <p>  <span class="side"> <mat-icon class="mat-18">notifications</mat-icon> <span class="profile"> <img src="../../../../assets/images/image_profile.jpg" alt=""> Ana Richardson </span></span>   </p></div>
        </div>
       </div>
       <br />
       <br />
       <div class="row">
         <div class="col-7">
          <div class="case">
            <h3 class="text-left">Caso:</h3>
            <h2>Defensa Legal en Caso de Discriminación Laboral</h2>
            <p class="text-left"> Soy un empleado de una empresa líder en la industria con más de 10 años de servicio. Lamentablemente, he sido objeto de discriminación laboral sistemática en mi lugar de trabajo. Esta discriminación ha afectado gravemente mi bienestar emocional y profesional. He documentado pruebas sustanciales que respaldan mis afirmaciones, incluyendo correos electrónicos, mensajes de texto y testimonios de colegas.
              Estoy en busca de un abogado experimentado en casos de discriminación laboral que pueda ayudarme a buscar justicia y recuperar los daños sufridos. Mi objetivo es resolver este problema de manera efectiva y asegurarme de que no se repita en el futuro.
              Presupuesto Ofrecido: Estoy dispuesto a pagar honorarios razonables por servicios legales, y estoy abierto a discutir las tarifas en detalle en una consulta inicial. Mi principal objetivo es obtener una solución justa y poner fin a esta situación de discriminación.
              Si eres un abogado con experiencia en casos de discriminación laboral y estás interesado en tomar este caso, por favor contáctame para discutir más detalles y programar una consulta inicial. Estoy comprometido a tomar medidas legales para proteger mis derechos y poner fin a esta situación injusta. </p>
          </div>

         </div>

         <div class="col-5">
          <div class="card hours">
            <h3 class="now">Información adicional </h3>
            <table class="table-responsive">

              <tr>
                <td>
                  <p style="float: right !important;width: 80%;"><mat-icon>query_builder</mat-icon></p>
                </td>
                <td>
                 <p class="identity">Empleo a tiempo completo</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p style="float: right !important;width: 80%;"><mat-icon class="mat-18">location_on</mat-icon></p>
                </td>
                <td>
                  <p class="identity">En cualquier lugar</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p style="float: right !important;width: 80%;"><img src="../../../../assets/images/icons/dollar.PNG" alt=""></p>
                </td>
                <td>
                  <p class="identity">Pago: $00000</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p style="float: right !important;width: 80%;"><mat-icon class="mat-18"><mat-icon>calendar_today</mat-icon></mat-icon>&nbsp;&nbsp; <span style="color: #fff;"> xxxxxxxxxxxx</span></p>
                </td>
                <td>
                 <p class="identity">Fecha límite para solicitud de abogado: Diciembre - 3 -2023</p>
                </td>
              </tr>
            </table>
            <hr>
             <h2 class="text-center">Documentación disponible</h2>
             <p class="text-center">Pruebas de discriminación y documentación relacionada</p>
            <hr>
            <h2 class="text-center"> Contacto</h2>
            <table class="bottom">
              <tr>
                <td>
                  <img src="../../../../assets/images/image_profile.jpg" alt="">
                </td>
                <td>
                   <p class="identity">Raquel Ortiz</p>
                   <p class="identity">Bogotá, Colombia</p>
                </td>
                <td>
                  <button type="submit" class="btn btn-outline-dark" style="border-radius: 15px;">Mensaje</button>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-icon class="mat-18">mail_outline</mat-icon>
                </td>
                <td>
                  <p>correo1234@gmail.com</p>
                </td>
                <td>

                </td>
              </tr>
              <tr>
                <td>
                  <mat-icon class="mat-18">phone</mat-icon>
                </td>
                <td>
                   <p>3256547899</p>
                </td>
                <td>

                </td>
              </tr>
            </table>

            <p class="buttons">  <button class="btn"  (click)="openModal()"    style="width: 123px;height: 37px; border-radius: 20px;background-color: #181937;margin: 10px; "><span style="color:#fff">Solicitar </span></button>&nbsp;<button type="submit" class="btn btn-outline-dark" style="border-radius: 15px;">Guardar vacante</button></p>
          </div>


         </div>

       </div>

    </article>
   </div>
  </div>
</div>
