<div class="main">
 <div class="row">
  <div class="col-5">
    <div class="language card">
      <br />
      <div>
        <input type="radio"  name="language" value="spanish" checked />&nbsp;
        <label for="active">Español</label>
      </div>
      <div>
        <input type="radio"  name="language" value="english" />&nbsp;
        <label for="scheduled">Inglés</label>
      </div>
      <p>  <button class="btn" style="width: 50%; border-radius: 15px;background-color: #181937;margin: 5px; "><span style="color:#fff">Guardar </span></button></p>
    </div>
  </div>
 </div>
</div>
