div.main{
  div.language{
    padding-top: 10px;
    border-radius: 15px;
    width: 70%;
    div{
      padding-left: 25px;
      padding-bottom: 5px;
    }
    p{
      padding-top: 20px !important;
    }
    button.btn{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-left: 90px !important;
    }
  }
}
