<div class="main-content">
  <div class="row">
    <div class="col-2">
      <nav>
        <admin-sidebar></admin-sidebar>
      </nav>
    </div>
    <div class="col-10">
      <article>
        <div class="head">
          <div class="row top">
            <div class="col-5"> <p class="head">  <span> Cuentas de administradores </span> </p></div>
            <div class="col-5"> <p>  <span class="side"> <mat-icon class="mat-18">notifications</mat-icon> <span class="profile"> <img src="../../../../assets/images/image_profile.jpg" alt=""> Ana Richardson </span></span>   </p></div>
          </div>
         </div>
         <div class="row">
          <div class="col-12">
              <div class="chart">
                <p class="image">
                  <img class="user" src="../../../../assets/images/users.PNG" alt="">
                </p>
                <p class="name">Sarah Guarin</p>
                <p class="country">Cali, Colombia</p>
              </div>
          </div>
         </div>
         <br />
         <br />
         <div class="row">
           <div class="col-6">
            <div class="option">
              <p class="role">Permisos</p>
              <div class="row">
                <div class="col-6">
                  <p class="items">  <mat-icon>check_circle_outline</mat-icon>&nbsp;Gestión de usuarios</p>
                  <p class="items"> <mat-icon>check_circle_outline</mat-icon>&nbsp;Gestión de abogados</p>
                  <p class="items"> <mat-icon>check_circle_outline</mat-icon>&nbsp;Casos y procesos legales</p>
                  <p class="items">  <mat-icon>check_circle_outline</mat-icon>&nbsp;Gestión de pagos</p>
                  <p class="items"> <mat-icon>check_circle_outline</mat-icon>&nbsp;Gestión de pagos</p>
                  <p class="items"> <mat-icon>check_circle_outline</mat-icon>&nbsp;Gestión de marketing</p>
                </div>
                <div class="col-6">
                  <p class="items">  <mat-icon>check_circle_outline</mat-icon>&nbsp;Contenido y actualizaciones</p>
                  <p class="items"> <mat-icon>check_circle_outline</mat-icon>&nbsp;Soporte y atención al cliente</p>
                  <p class="items"> <mat-icon>check_circle_outline</mat-icon>&nbsp;Configuración de plataforma</p>
                  <p class="items"> <mat-icon>check_circle_outline</mat-icon>&nbsp;Generación de informes</p>
                  <p class="items down"> <mat-icon>check_circle_outline</mat-icon>&nbsp;Autoridad y seguridad</p>
                </div>
              </div>
            </div>
           </div>
           <div class="col-6">
            <div class="option">
              <p class="role">Rol</p>
              <p class="items second">  <mat-icon>check_circle_outline</mat-icon>&nbsp;Moderador</p>
              <p class="items second"> <mat-icon>check_circle_outline</mat-icon>&nbsp;Superadministrador</p>
              <p class="items second"> <mat-icon>check_circle_outline</mat-icon>&nbsp;Administrador</p>
            </div>
           </div>
         </div>

        <p class="buttons">  <button class="btn" style="width: 452px;height: 55px; border-radius: 15px;background-color: #B71031;margin: 5px; "><span style="color:#fff">Guardar </span></button></p>
      </article>
    </div>
  </div>
</div>
