<div class="main-content">
  <div class="register-form">
     <h1>Formulario de registro</h1>
     <div class="steps">
      <img src="../../../../assets/images/step-register.jpg" alt="ste-register">
     </div>
     <div class="single">
      <p class="step"><span>Registro</span></p>
     </div>
     <br />
     <div class="inputs">
      <form action="">
        <input type="text" placeholder="Nombres">
        <br />
        <input type="text" placeholder="Apellidos">
        <br />
        <input type="text" placeholder="Correo electrónico">
        <br />
        <input type="text" placeholder="Contraseña">
        <br />
        <input type="text" placeholder="Lugar residencia">
        <br />
        <input type="text" placeholder="Área de especialización">
        <br />
      </form>
     </div>
     <p class="button">
      <button type="submit" class="btn">Continuar</button>
    </p>
  </div>

  <div class="second-step">
    <h1>Verificación de documentos</h1>
    <div class="steps">
     <img src="../../../../assets/images/step-doc.jpg" alt="ste-register">
    </div>
    <div class="titles">
      <p class="titles" style="text-align: left !important; margin-left: 150px;margin-top: 20px;font-size: 17px;"><span style="margin-right: 30px !important;">Registro</span><span class="doc">Doc</span></p>
     </div>
    <br/>
    <div class="single" >
     <p class="step" ><span>Sube una foto de tu documento nacional de</span></p>
     <p class="second"><span>identidad por la parte de adelante</span></p>
    </div>
    <br />
    <div class="front-card">
       <img src="../../../../assets/images/front.jpg" alt="">
    </div>
    <p class="steps">
      <span>0 /2 </span><span><mat-icon>check_circle_outline</mat-icon></span>
    </p>
    <p class="button">
     <button type="submit" class="btn btn-success">Subir</button>
   </p>
 </div>

 <div class="third-step">
  <h1>Verificación de documentos</h1>
  <div class="steps">
   <img src="../../../../assets/images/step-doc.jpg" alt="ste-register">
  </div>
  <div class="titles">
    <p class="step"><span>Registro</span><span class="doc">Doc</span></p>
  </div>
  <br />
  <br />
  <div class="single">
   <p class="picture" style="text-align: center !important;"><span>Sube una foto de tu documento nacional de</span></p>
   <p class="second" style="text-align: center !important;"><span>identidad por la parte de atrás</span></p>
  </div>
  <br />
  <br />
  <div class="front-card">
     <img src="../../../../assets/images/back_card.jpg" alt="">
  </div>
  <p class="steps">
    <span>1 /2 </span><span><mat-icon>check_circle_outline</mat-icon></span>
  </p>
  <p class="button">
   <button type="submit" class="btn btn-success">Subir</button>
 </p>
</div>

<div class="four-step">
  <h1>Verificación de documentos</h1>
  <div class="steps">
   <img src="../../../../assets/images/step-card.jpg" alt="ste-register">
  </div>
  <div class="titles">
    <p class="step"><span>Registro</span><span >Doc</span><span class="card">Tarjeta</span></p>
  </div>
  <br />
  <div class="single">
   <p class="steps"><span>Sube una foto de tu tarjeta profesional</span></p>
  </div>
  <br />
  <div class="front-card">
     <img src="../../../../assets/images/target.jpg" alt="">
  </div>
  <p class="button">
   <button type="submit" class="btn btn-success" (click)="goNextSteps(4)">Subir</button>
 </p>
</div>
<br />
<br />

</div>
