<div class="main-content">
  <div class="row first">
  <div class="col-6 lawyer">
  </div>


  <div class="col-6">
    <div class="logo">
      <img class="la" src="../../../../assets/images/logo.png" alt="logo-low-app">
    </div>

    <div class="form-login">
     <p class="title">¡Ingresa tus datos<span><mat-icon>help_outline</mat-icon></span></p>
     <p class="title">para registrarte!</p>
     <div class="form">
      <form>
        <p class="error">El correo no está verificado</p>
        <p class="error">El correo ya está registrado en Law App</p>
        <p class="error">Te falta poner el correo</p>
        <div class="input-group mb-3">
          <span class="input-group-text">@</span>
          <input type="text" class="form-control email" placeholder="Nombres" name="usrname">
        </div>
        <br />
        <div class="input-group mb-3">
          <span class="input-group-text">@</span>
          <input type="text" class="form-control" placeholder="Apellidos" name="usrname">
        </div>
        <br />
        <div class="input-group mb-3">
          <span class="input-group-text">@</span>
          <input type="text" class="form-control" placeholder="Correo" name="usrname">
        </div>
        <br />
        <div class="input-group mb-3">
          <span class="input-group-text">@</span>
          <input type="text" class="form-control" placeholder="Contraseña" name="usrname">
        </div>
        <p class="links"><span class="title-left" (click)="goLogin()">¿ Ya tienes una cuenta?</span>&nbsp; </p>


        <p class="accept"><span><mat-icon>check_circle_outline</mat-icon></span>Acepto los<span class="terms" (click)="goTerms()">términos y condiciones</span> </p>

        <p class="button">
          <button type="submit" class="btn">Regístrarme</button>
        </p>

      </form>
     </div>



    </div>

    <p class="personal">Tus datos personales y legales están protegidos al utilizar Law App</p>

     <p class="personal">o regístrate con</p>

     <div class="social">
     <p><span class="gogle"><img src="../../../../assets/images/gogle.png" alt="">  </span> <span class="facebook"> <img src="../../../../assets/images/facebook.png" alt=""></span></p>

    </div>


    <div class="success">
      <p class="title">¡Ya estás registrado!</p>
      <p class="subtitle">Ahora inicio sesión para ingresar</p>
      <p class="button">
        <button type="submit" class="btn">Iniciar sesión</button>
      </p>
    </div>

  </div>




  </div>



  </div>
