<div class="main" style=" background-color: #F1F1F1 !important;">
  <div class="row">
     <div class="col-7">
      <div class="card visibility">
        <div class="search">
          <h2>Crear nueva cuenta de administrador</h2>
          <input class="new" type="text" placeholder="Nombres">
          <br />
          <input class="new" type="text" placeholder="Apellidos">
          <br />
          <input class="new" type="text" placeholder="Correo electrónico"><br />
          <input class="new" type="text" placeholder="Contraseña"><br />
          <input class="new" type="text" placeholder="Confirmar contraseña"><br />
          <h2>Permisos</h2>
          <table>
            <tr>
              <td> <input type="radio"  name="users" value="users"  />
                <label for="cursed">Gestión de usuarios</label> </td>
              <td> <input type="radio"  name="updates" value="updates"  />
                <label for="cursed">Contenido y actualizaciones</label> </td>
            </tr>
            <tr>
              <td> <input type="radio"  name="lawyers" value="lawyers"  />
                <label for="cursed">Gestión de abogados</label> </td>
              <td> <input type="radio"  name="support" value="support"  />
                <label for="cursed">Soporte y atención al cliente</label> </td>
            </tr>
            <tr>
              <td> <input type="radio"  name="legal" value="legal" />
                <label for="cursed">Casos y procesos legales</label> </td>
              <td> <input type="radio"  name="platform" value="platform"  />
                <label for="cursed">Configuración de plataforma</label> </td>
            </tr>
            <tr>
              <td> <input type="radio"  name="pay" value="pay"  />
                <label for="cursed">Gestión de pagos</label> </td>
              <td> <input type="radio"  name="reports" value="reports"  />
                <label for="cursed">Generación de informes</label> </td>
            </tr>
            <tr>
              <td> <input type="radio"  name="analitics" value="analitics"  />
                <label for="cursed">Análisis y estadísticas</label> </td>
              <td> <input type="radio"  name="security" value="security"  />
                <label for="cursed">Autoridad y seguridad</label> </td>
            </tr>
            <tr>
              <td> <input type="radio"  name="marketing" value="marketing"  />
                <label for="cursed">Gestión de marketing</label> </td>
              <td>  </td>
            </tr>
          </table>
          <p class="buttons">   <button style="margin-left: 10px !important;border-radius: 15px;width: 90%;margin-top: 20px !important;"  type="submit" class="btn btn-dark">Crear</button> </p>
        </div>
      </div>
     </div>
     <div class="col-4">
      <div class="accounts">
        <h2>Cuentas existentes</h2>
        <div class="row">
         <table>
           <tr>
             <td>
              <div class="chart">
                <p class="image">
                  <img class="user" src="../../../../assets/images/users.PNG" alt="">
                </p>
                <p class="name">Sarah Guarin</p>
                <p class="country">Cali, Colombia</p>
              </div>
             </td>
             <td>
              <div class="chart">
                <p class="image">
                  <img class="user" src="../../../../assets/images/users.PNG" alt="">
                </p>
                <p class="name">Sarah Guarin</p>
                <p class="country">Cali, Colombia</p>
              </div>
             </td>
           </tr>
           <tr>
            <td>
              <div class="chart">
                <p class="image">
                  <img class="user" src="../../../../assets/images/users.PNG" alt="">
                </p>
                <p class="name">Sarah Guarin</p>
                <p class="country">Cali, Colombia</p>
              </div>
            </td>
            <td>
              <div class="chart">
                <p class="image">
                  <img class="user" src="../../../../assets/images/users.PNG" alt="">
                </p>
                <p class="name">Sarah Guarin</p>
                <p class="country">Cali, Colombia</p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="chart">
                <p class="image">
                  <img class="user" src="../../../../assets/images/users.PNG" alt="">
                </p>
                <p class="name">Sarah Guarin</p>
                <p class="country">Cali, Colombia</p>
              </div>
            </td>
            <td>
              <div class="chart">
                <p class="image">
                  <img class="user" src="../../../../assets/images/users.PNG" alt="">
                </p>
                <p class="name">Sarah Guarin</p>
                <p class="country">Cali, Colombia</p>
              </div>
            </td>
          </tr>
         </table>
        </div>
      </div>
     </div>
  </div>
</div>
