
<div class="main-content" style=" background-color: #F1F1F1 !important;">
  <div class="row">
    <div class="col-2">
     <nav>
       <admin-sidebar></admin-sidebar>
     </nav>
    </div>

    <div class="col-10">
     <article>
       <div class="head">
         <div class="row top">
           <div class="col-5"> <p class="head"> <span *ngIf="config">Configuración y seguridad </span>  <span *ngIf="privacy">Configuración de privacidad </span> <span *ngIf="password"> Cambio de contraseña</span> <span *ngIf="notifications"> Gestión de notificaciones</span>   <span *ngIf="taxes">Configuración de tarifas</span> <span *ngIf="terms"> Configuración de términos de uso</span> <span *ngIf="policies"> Configuración de políticas de privacidad  </span> <span *ngIf="backup">Copias de seguridad y gestión de datos</span> <span *ngIf="languages">Idioma</span> <span *ngIf="history">  Historial de cambios</span> <span *ngIf="managers"> Cuentas de administradores </span></p></div>

           <div class="col-5"> <p>  <span class="side"> <mat-icon class="mat-18">notifications</mat-icon> <span class="profile"> <img src="../../../../assets/images/image_profile.jpg" alt=""> Ana Richardson </span></span>   </p></div>
         </div>
         <div>
            <p class="config" *ngIf="config"> Configuración y seguridad: Tu Control Total.</p>
            <p class="config" *ngIf="notifications"> Define dónde quieres que lleguen tus notificaciones</p>
            <p class="config" *ngIf="taxes"> Modifica las tarifas a los planes, suscripciones a boletín y perfiles destacados</p>
            <p class="config" *ngIf="terms"> Modifica los términos de uso de la plataforma.</p>
            <p class="config" *ngIf="policies"> Modifica la política y privacidad de la plataforma.</p>
            <p class="config" *ngIf="backup">Permite programar copias de seguridad automáticas de la base de datos y los archivos de la plataforma en intervalos específicos. </p>
            <p class="config" *ngIf="backup"> También se pueden configurar políticas para la retención de datos, incluyendo cuánto tiempo se conservarán los datos antes de su eliminación. </p>
            <p class="config" *ngIf="languages">Aquí puedes cambiar el idioma.</p>
            <p class="config" *ngIf="history">Muestra un registro detallado de los cambios realizados en la configuración y la seguridad de la plataforma, incluyendo quién realizó el cambio y cuándo.</p>
            <p class="config down" *ngIf="managers"> Aquí se muestran todas las cuentas de administradores existentes. Puedes eliminar </p>
            <p class="config" *ngIf="managers">cuentas y  crear nuevas al igual que asignar roles y permisos.  </p>
          </div>
        </div>
       <br />
        <div class="taxes" *ngIf="taxes">
          <config-taxes></config-taxes>
        </div>
        <div class="terms" *ngIf="terms">
          <config-terms></config-terms>
        </div>
        <div class="policies" *ngIf="policies">
          <config-policies></config-policies>
        </div>
        <div class="backup" *ngIf="backup">
          <backup></backup>
        </div>
        <div class="languages" *ngIf="languages">
          <languages></languages>
        </div>
        <div class="history" *ngIf="history">
          <history-changes></history-changes>
        </div>
        <div class="managers" *ngIf="managers">
          <account-managers></account-managers>
        </div>
        <div class="row">
         <div class="col-6">
          <div class="card visibility" *ngIf="notifications">
            <h3>Gestión de notificaciones</h3>
            <p> Define dónde quieres que lleguen tus notificaciones</p>
            <p class="items">  <mat-icon>check_circle_outline</mat-icon>&nbsp;Gestión de usuarios</p>
            <p class="items"> <mat-icon>check_circle_outline</mat-icon>&nbsp;Gestión de abogados</p>
            <p class="items"> <mat-icon>check_circle_outline</mat-icon>&nbsp;Casos y procesos legales</p>
          </div>
          <div class="card visibility" *ngIf="password">
            <div class="search">
              <label for="">Ingresa tu contraseña actual</label><br />
              <input type="text" placeholder=""><br />
              <label for="">Ingresa la nueva contraseña</label><br />
              <input type="text" placeholder=""><br />
              <label for="">Confirmación de nueva contraseña</label><br />
              <input type="text" placeholder=""><br />
              <p class="buttons">   <button style="margin-left: 10px !important;border-radius: 15px;width: 90%;margin-top: 20px !important;"  type="submit" class="btn btn-dark">Cambiar</button> </p>
            </div>
          </div>
          <div class="card visibility" *ngIf="privacy">
            <h3>Opciones de visibilidad de perfiles</h3>
            <p> Los administradores pueden elegir si los perfiles de los abogados y usuarios son visibles para otros usuarios o si deben estar ocultos.</p>
          </div>
           <div class="card options" *ngIf="config">
            <p class="items" (click)="setPrivacy()"> <mat-icon>check_circle_outline</mat-icon>&nbsp;Configuración de privacidad</p>
            <p class="items" (click)="setPassword()"> <mat-icon>check_circle_outline</mat-icon>&nbsp;Cambio de contraseña</p>
            <p class="items" (click)="setNotifications()"> <mat-icon>check_circle_outline</mat-icon>&nbsp;Gestión de notificaciones</p>
            <p class="items" (click)="setTaxes()"> <mat-icon>check_circle_outline</mat-icon>&nbsp;Configuración de tarifas</p>
            <p class="items" (click)="setTerms()"> <mat-icon>check_circle_outline</mat-icon>&nbsp;Configuración de términos de uso</p>
            <p class="items" (click)="setPolicy()"> <mat-icon>check_circle_outline</mat-icon>&nbsp;Configuración de políticas de privacidad</p>
            <p class="items" (click)="setManagers()"> <mat-icon>check_circle_outline</mat-icon>&nbsp;Cuentas de administradores</p>
            <p class="items" (click)="setBackup()"> <mat-icon>check_circle_outline</mat-icon>&nbsp;Copias de seguridad y gestión de datos</p>
            <p class="items" (click)="sethistory()"> <mat-icon>check_circle_outline</mat-icon>&nbsp;Historial de cambios</p>
            <p class="items" (click)="setlanguage()"> <mat-icon>check_circle_outline</mat-icon>&nbsp;Idioma</p>
            <p class="items close"> <mat-icon>check_circle_outline</mat-icon>&nbsp;Cerrar sesión</p>

           </div>

         </div>
         <div class="col-6">
          <div class="card visibility" *ngIf="privacy">
            <h3>Privacidad de información personal</h3>
            <p>Permite a los administradores definir qué información personal, como números de teléfono o direcciones de correo electrónico, se muestra públicamente en los perfiles y qué información se mantiene privada.</p>
          </div>
         </div>
        </div>
        <privacy *ngIf="privacy"></privacy>
     </article>
    </div>

  </div>
 </div>

