@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

div.main-content{


  article{
    margin-top: 30px !important;
    padding: 10px !important;
    margin-left: 40px !important;
    span.side{
      float: right;
      mat-icon{
        position: absolute;
        top: 45px;
        right: 385px !important;
        margin-right: 12px !important;
        font-size: 20px !important;
      }
    }
    div.side{
      float: right !important;
      margin-right: 50px;
      span.profile{
        padding-left: 25px !important;
      }
    }
    p.head{
      margin-top: 2px !important;
      margin-bottom: 5px !important;
      div.top{
        margin-left: 50px !important;
      }
      font-family: 'Poppins';
      font-weight: bold;
      font-size: 23px;
      color:#181937;
      span{
        margin-right: 10px;
        mat-icon.keyboard{
          font-size: 25px !important;
          cursor: pointer;
        }
        span.profile{
          font-size:17px;
          font-family: 'Poppins';
          color: #181937;
        }

      }

    }
    div.note{
       margin-top: 20px !important;
      p{
        margin-left: 10px;
        font-family: 'Poppins';
        color: #181937;
        font-size: 16px;
        margin-bottom: 0;

      }
    }
    div.search{
      margin-left: 55px;
      margin-top: 30px;
      margin-bottom: 30px;
      input{
        width: 85% !important;
        background-color: #F1F1F1;
        border-radius: 15px;
        height: 42px !important;
        border: #F1F1F1;
      }

    }

    div.input{
      margin-left: 5px;
      margin-bottom: 6px;
      input{
        width: 70% !important;
        background-color: #F1F1F1;
        border-radius: 15px;
        height: 33px !important;
        border: #F1F1F1;
      }

    }

    table {
      margin-left: 55px !important;
      font-family: 'Poppins',sans-serif;
      border-collapse: collapse;
      width: 90%;
    }

    td, th {
      border: 1px solid #F0F4F7;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #F0F4F7;
    }


  }


}
