<div class="main-content">
  <div class="row">
    <div class="col-2">
      <nav>
        <sidebar></sidebar>
      </nav>
    </div>

   <div class="col-10">
    <article>
      <div class="head">
        <div class="row top">
          <div class="col-5"> <p class="head"><span><mat-icon style="cursor: pointer;">keyboard_arrow_left</mat-icon></span>  <span> Historial de actividades &nbsp;<mat-icon style="cursor: pointer;">keyboard_arrow_right</mat-icon><strong>Pagos</strong></span> </p></div>
          <div class="col-5"> <p>  <span class="side"> <mat-icon class="mat-18">notifications</mat-icon> <span class="profile"> <img src="../../../../assets/images/image_profile.jpg" alt=""> Ana Richardson </span></span>   </p></div>
        </div>
       </div>

       <div class="card" style="border-radius: 10px; margin-top: 25px; margin-right: 25px;width: 85%;">
        <div class="row">
          <div class="col-12">
            <div class="search">
              <input type="text" placeholder="Buscar en el historial de pagos">&nbsp;
              <select  id=""  style="border-radius: 15px !important; background-color: #f2f2f2;">
                <option value="Sep2023" class="dates">Filtro</option>
              </select>
            </div>
          </div>
         </div>
         <div class="row">
          <div class="col-12">
            <table class="responsive">
              <tr style="background-color: #F0F4F7;border-radius: 10px;">
                <th></th>
                <th>Servicio</th>
                <th>Fecha </th>
                <th>Persona</th>
                <th>Pago</th>

              </tr>
              <tr style="background-color: #fff;"><td></td><td></td><td></td><td></td><td></td></tr>
              <tr>
                <td><mat-icon>check_circle_outline</mat-icon></td>
                <td>Cita “Nombre de la cita”</td>
                <td>Martes, 23 de Septiembre 2023</td>
                <td> <img src="../../../../assets/images/users.PNG" alt=""> Raquel Ortiz</td>
                <td>$000000</td>
              </tr>
              <tr>
                <td><mat-icon>check_circle_outline</mat-icon></td>
                <td>Cita “Nombre de la cita”</td>
                <td>Martes, 23 de Septiembre 2023</td>
                <td><img src="../../../../assets/images/users.PNG" alt=""> Raquel Ortiz</td>
                <td>$000000 </td>
              </tr>
              <tr>
                <td><mat-icon>check_circle_outline</mat-icon></td>
                <td>Cita “Nombre de la cita”</td>
                <td>Martes, 23 de Septiembre 2023</td>
                <td><img src="../../../../assets/images/users.PNG" alt=""> Raquel Ortiz</td>
                <td>$000000</td>
              </tr>
            </table>
          </div>
        </div>
      <br />
      </div>





    </article>
   </div>
  </div>
</div>

