<div class="main-content">
  <div class="row">
    <div class="col-12">
      <h2 class="title">¡Suscríbete a nuestros planes!<mat-icon (click)="close()"class="mat-18" style="font-size: 18px !important;">close</mat-icon></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="step">
        <h3>Básico</h3>
        <h4>$00000</h4>
        <ul>
          <li>Acceso a Artículos y Recursos Legales</li>
          <li>Actualizaciones de Casos Relevantes</li>
          <li>Boletín Informativo Mensual</li>
          <li>Soporte por Correo Electrónico</li>
          <li>Pago Mensual</li>
        </ul>
        <p class="button"> <button class="btn"> Pagar</button></p>
      </div>
    </div>
    <div class="col-4">
      <div class="step">
        <h3>Premium</h3>
        <h4>$00000</h4>
        <ul>
          <li>Todo lo incluido en el Plan Básico</li>
          <li>Acceso a Seminarios Web Exclusivos</li>
          <li>Consulta Legal Mensual por Videoconferencia</li>
          <li>Descuentos en Servicios Legales</li>
          <li>Soporte Prioritario por Correo Electrónico</li>
          <li>Pago Mensual</li>
        </ul>
        <p class="button"> <button class="btn"> Pagar</button></p>
      </div>
    </div>
    <div class="col-4">
      <div class="step">
        <h3>VIP</h3>
        <h4>$00000</h4>
        <ul>
          <li>Todo lo incluido en el Plan Premium</li>
          <li>Consulta Legal Prioritaria Mensual por Videoconferencia</li>
          <li>Acceso Ilimitado a Todos los Recursos</li>
          <li>Asesoramiento Legal Personalizado</li>
          <li>Invitaciones a Eventos Exclusivos</li>
          <li>Pago Anual</li>
        </ul>
        <p class="button"> <button class="btn"> Pagar</button></p>
      </div>
    </div>
  </div>
</div>
