<div class="main-content">
<div class="row first">
<div class="col-6 lawyer">
</div>


<div class="col-6">
  <div class="logo">
    <img class="la" src="../../../../assets/images/logo.png" alt="logo-low-app">
  </div>

  <div class="form-login">
   <p class="title">Iniciar sesión  <span><mat-icon>help_outline</mat-icon></span></p>
   <div class="form">
    <form>
      <p class="error">El correo no existe, veríficalo</p>
      <p class="error">La contraseña es incorrecta, intenta de nuevo</p>
      <p class="error">Te falta poner la contraseña</p>
      <div class="search">
        <input type="text" placeholder="Correo electrónico">
      </div>
      <br />
      <div class="search">
        <input type="text" placeholder="Contraseña">
      </div>
      <br />
      <p class="links"><span class="title-left" (click)="goRegister()">¿ Aún no tienes una cuenta?</span>&nbsp;  <span class="title-right" (click)="goRecovery()"> ¿Olvidaste tu contraseña?</span></p>

      <p class="remember"><span><input type="checkbox"  name="password" value="password" />&nbsp;</span> &nbsp; <span>Recuerda mi contraseña</span></p>

      <p class="accept"><span><input type="checkbox"  name="terms" value="terms" />&nbsp;</span> &nbsp; Acepto los<span class="terms" (click)="goTerms()">términos y condiciones</span> </p>
      <p>

      <p class="button">
        <button type="submit" class="btn" style="background-color: #181937;border-radius: 15px; color:#fff"  (click)="goProfile()">Iniciar sesión</button> &nbsp;  <button type="submit" class="btn" style="background-color: #181937;border-radius: 15px; color:#fff" routerLink="/panel">Admin</button>
      </p>

    </form>
   </div>
  <router-outlet></router-outlet>


  </div>

  <p class="personal">Tus datos personales y legales están protegidos al utilizar Law App</p>

   <p class="personal">o regístrate con</p>

   <div class="social">
   <p><span class="gogle"><img src="../../../../assets/images/gogle.png" alt="">  </span> <span class="facebook"> <img src="../../../../assets/images/facebook.png" alt=""></span></p>

   </div>
</div>

</div>



</div>
