<div class="main-content">
  <H2>Filtros de noticias</H2>
  <h4>Fecha de publicación</h4>
  <div class="row">
    <div class="col-2">
      <div class="search">
        <input type="text" placeholder="Septiembre">
      </div>
    </div>
    <div class="col-1">
      <div class="search">
        <input type="text" placeholder="23">
      </div>
    </div>
    <div class="col-2">
      <div class="search">
        <input type="text" placeholder="2023">
      </div>
    </div>
    <div class="col-1">
      <p class="to">hasta </p>
    </div>
    <div class="col-2">
      <div class="search">
        <input type="text" placeholder="Mes">
      </div>
    </div>
    <div class="col-1">
      <div class="search">
        <input type="text" placeholder="00">
      </div>
    </div>
    <div class="col-2">
      <div class="search">
        <input type="text" placeholder="0000">
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <h4>Sección</h4>
    <div class="col-4">
      <div>
        <input type="radio"  name="section" value="news" checked />
        <label for="news">Noticias</label>
      </div>
      <div>
        <input type="radio"  name="section" value="subscription" />
        <label for="subscription">Suscripción</label>
      </div>
      <div>
        <input type="radio"  name="section" value="saved" />
        <label for="saved">Archivado</label>
      </div>
    </div>
    <div class="col-4">

    </div>

    <div class="col-4">

     </div>
  </div>

  <br />
  <div class="row">
    <h4>Estado de la noticia</h4>
    <div class="col-4">
      <div>
        <input type="radio"  name="state" value="publicaded" checked />
        <label for="publicaded">Publicado</label>
      </div>
      <div>
        <input type="radio"  name="state" value="reviewed" />
        <label for="reviewed">En revisión</label>
      </div>
      <div>
        <input type="radio"  name="state" value="deleted" />
        <label for="deleted">Eliminado</label>
      </div>
    </div>
    <div class="col-4">
      <div>
        <input type="radio"  name="state" value="draft" checked />
        <label for="draft">Borrador</label>
      </div>
      <div>
        <input type="radio"  name="state" value="scheduled" />
        <label for="scheduled">Programada</label>
      </div>
      <div>
        <input type="radio"  name="state" value="rejected" />
        <label for="rejected">Rechazada</label>
      </div>

    </div>

    <div class="col-4">
      <div>
        <input type="radio"  name="state" value="updated" checked />
        <label for="publicaded">Actualizada</label>
      </div>

     </div>
  </div>
   <br />
   <div class="button">
    <button type="submit" class="btn btn-primary" >Buscar</button>
   </div>

  </div>
