@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

div.main-content{
  span.side{
    //margin-right: 500px !important;
    float: right;
    mat-icon{
      position: absolute;
      top: 45px;
      right: 375px !important;
      margin-right: 12px !important;
      font-size: 20px !important;
    }
  }
  div.side{
    float: right !important;
    margin-right: 50px;
    span.profile{
      padding-left: 25px !important;
    }
  }
  p.head{
    div.top{
      margin-left: 50px !important;
    }
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    font-size: 23px;
    color:#181937;
    span{
      margin-right: 10px;
      mat-icon.keyboard{
        font-size: 25px !important;
        cursor: pointer;
      }
      span.profile{
        font-size:17px;
        font-family: 'Poppins',sans-serif;
        color: #181937;
      }

    }

  }

  article{
    margin-top: 30px !important;
    padding: 10px !important;
    margin-left: 30px !important;
  }

  div.note{
    p{
      margin-left: 0px;
      font-family: 'Poppins',sans-serif;
      color: #181937;
      font-size: 16px;
      margin-bottom: 0;

    }
  }

  div.activity{
    margin-top: 20px;
    background-color:#F1F1F1;
    h4{
      font-weight: bold;
      font-size: 20px;
      font-family: 'Poppins',sans-serif;
      color: #181937;
      span.calendar{
        float: right !important;
        margin-right: 60px;
        select{
          width: 85px !important;
          height: 20px !important;
          border: 1px solid #F1F1F1 !important;
          font-size: 13px !important;
          font-family: 'Poppins',sans-serif;
          color: #181937;
        }
        option.dates{
          font-size: 13px !important;
          font-family: 'Poppins',sans-serif;
          color: #181937;
        }
      }
    }
    p.amount{
      margin-top: 40px !important;
      margin-bottom: 25px !important;
      padding-bottom: 41px !important;
      font-weight: bold;
      font-size: 60px;
      font-family: 'Poppins',sans-serif;
      color: #181937;
    }
    div.subscription{
      margin-top: 15px !important;
      padding-top: 15px !important;
      background-color: #fff;
      height: 93px;
      width: 425px;
      padding-right: 10px !important;
      p.amount{
        margin-top: 5px !important;
        font-weight: bold;
        font-size: 20px;
        font-family: 'Poppins',sans-serif;
        color: #181937;
      }
      p.number{
        font-weight:500;
        font-size: 15px;
        font-family: 'Poppins',sans-serif;
        color: #8F9BB3;
      }
      p.date{
        font-weight: bold;
        font-size: 12px;
        font-family: 'Poppins',sans-serif;
        padding-left: 5px !important;
        margin-left: 5px;
        color: #8F9BB3;
      }
      p.name{
        font-weight:bold;
        margin-left: 5px;
        padding-left: 5px !important;
        font-size: 16px;
        font-family: 'Poppins',sans-serif;
        color: #181937;

      }
    }
  }

  div.history{
    background-color:#F1F1F1;
    div.staditics{
      height: 406px !important;
      width: 100% !important;
    }
    h2.history{
      padding-top: 20px !important;
      font-size: 20px;
      font-weight: bold;
      font-family: 'Poppins',sans-serif;
      color: #181937;
    }
    p.count{
      font-family: 'Poppins',sans-serif;
      font-weight: bold !important;
      font-size: 30px !important;

    }
    table {
      font-family: 'Poppins', sans-serif;
      border-collapse: collapse;
      width: 82%;
      tr.first{
        background-color: #dddddd;
      }
    }
    div.pill-one{
       height: 80px;
       width: 107px;
       border-radius: 10px;
       background-color: #181937 !important;
       border: 1px solid #181937 !important;
    }
    div.pill-two{
      height: 80px;
      width: 107px;
      border-radius: 10px;
      background-color: #C3AE35 !important;
      border: 1px solid #C3AE35 !important;
    }

    div.pill-three{
      height: 80px;
      width: 107px;
      background-color: #fff !important;
      border: 1px solid #fff !important;

    }


    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #F1F1F1;
    }
  }

}
