<div class="main-content">


  <div class="five-step">
    <br />
    <h1>Verificación de documentos</h1>
    <br />
    <div class="steps">
     <img src="../../../../assets/images/step-photo.jpg" alt="ste-register">
    </div>
    <div class="titles">
      <p class="step"><span>Registro</span><span >Doc</span><span >Tarjeta</span><span class="photo">Foto</span></p>
    </div>
    <br />
    <div class="single">
     <p class="step"><span>Sube una foto o selfie tuya</span></p>
    </div>
    <br />
    <div class="front-card">
       <img src="../../../../assets/images/selfie.jpg" alt="">
    </div>
    <p class="button">
     <button type="submit" class="btn btn-success">Subir</button>
   </p>
  </div>

  <div class="six-step">
    <br />
    <h1>Verificación de documentos</h1>
    <br />
    <div class="steps">
     <img src="../../../../assets/images/step-full.jpg" alt="ste-register">
    </div>
    <div class="titles">
      <p class="step"><span>Registro</span><span >Doc</span><span >Tarjeta</span><span class="photo">Foto</span></p>
    </div>
    <br />
    <div class="single">
     <p class="six"><span>Sube una foto o selfie tuya</span></p>
    </div>
    <br />
    <div class="front-card">
       <img src="../../../../assets/images/selfie.jpg" alt="">
    </div>
    <p class="button">
     <button type="submit" class="btn btn-success">Continuar</button>
   </p>
  </div>

  <div class="seven-step">
    <br />
    <h1>Verificación de documentos</h1>
    <br />
    <div class="steps">
     <img src="../../../../assets/images/step-full.jpg" alt="ste-register">
    </div>
    <div class="titles">
      <p class="step"><span>Registro</span><span >Doc</span><span >Tarjeta</span><span class="photo">Foto</span></p>
    </div>
    <br />
    <div class="front-card">
       <img src="../../../../assets/images/delete.jpg" alt="">
    </div>
    <br />
    <div class="single">
     <p class="reject"><span>Rechazada</span></p>
     <p class="step"><span>Lo sentimos, prueba volver a cargar los documentos </span></p>
    </div>

    <p class="button">
     <button type="submit" class="btn btn-success">Continuar</button>
   </p>
  </div>

  <div class="eigth-step">
    <br />
    <h1>Verificación de documentos</h1>
    <br />
    <div class="steps">
     <img src="../../../../assets/images/step-full.jpg" alt="ste-register">
    </div>
    <div class="titles">
      <p class="step"><span>Registro</span><span >Doc</span><span >Tarjeta</span><span class="photo">Foto</span></p>
    </div>
    <br />
    <div class="front-card">
       <img src="../../../../assets/images/accept.jpg" alt="">
    </div>
    <br />
    <div class="single">
     <p class="reject"><span>Aceptada</span></p>
     <p class="step"><span>Todos tus datos están en el orden adecuado. ¡Bienvenido a nuestra comunidad de abogados!</span></p>
    </div>

    <p class="button">
     <button type="submit" class="btn btn-success">Continuar</button>
   </p>
  </div>

  <div class="finish-step">
    <br />
    <h1>Verificación de documentos</h1>
    <br />
    <div class="steps">
     <img src="../../../../assets/images/step-full.jpg" alt="ste-register">
    </div>
    <div class="titles">
      <p class="step"><span>Registro</span><span >Doc</span><span >Tarjeta</span><span class="photo">Foto</span></p>
    </div>
    <br />
    <div class="front-card">
       <img src="../../../../assets/images/accept.jpg" alt="">
    </div>
    <br />
    <div class="single">
     <p class="reject"><span>Para finalizar</span></p>
     <p class="accept"><span><mat-icon>check_circle_outline</mat-icon>&nbsp;</span>Acepto los<span class="terms" (click)="goTerms()">términos y condiciones</span> </p>
    </div>

    <p class="button">
     <button type="submit" class="btn btn-success">Continuar</button>
   </p>
  </div>
</div>
