<div class="main-content">


  <div class="five-step" *ngIf="step == 4">
    <br />
    <h1>Verificación de documentos</h1>
    <br />
    <div class="steps">
     <img src="../../../../assets/images/step-photo.jpg" alt="ste-register">
    </div>
    <div class="titles">
      <p class="step"><span>Registro</span><span >Doc</span><span >Tarjeta</span><span class="photo">Foto</span></p>
    </div>
    <br />
    <div class="single">
     <p class="step"><span>Sube una foto o selfie tuya</span></p>
    </div>
    <br />
    <div class="front-card">
       <img src="../../../../assets/images/selfie.jpg" alt="">
    </div>
    <p class="button">
     <button type="submit" class="btn btn-success" (click)="nextStep()">Subir</button>
   </p>
  </div>

  <div class="six-step" *ngIf="step === 5">
    <br />
    <h1>Verificación de documentos</h1>
    <br />
    <div class="steps">
     <img src="../../../../assets/images/step-full.jpg" alt="ste-register">
    </div>
    <div class="titles">
      <p class="step"><span>Registro</span><span >Doc</span><span >Tarjeta</span><span class="photo">Foto</span></p>
    </div>
    <br />
    <div class="single">
     <p class="six"><span>Sube una foto o selfie tuya</span></p>
    </div>
    <br />
    <div class="front-card">
       <img src="../../../../assets/images/selfie.jpg" alt="">
    </div>
    <p class="button">
     <button type="submit" class="btn btn-success" (click)="goNextSteps(5)">Continuar</button>
   </p>
  </div>



</div>
