div.reports{
  margin-top: 35px !important;
  height: 670px !important;
  width: 70% !important;
  p{
    width: 70% !important;
  }
    div.content{
      h2{
        color: #181937;
        font-size: 17px;
        font-family: 'Poppins',sans-serif;
        font-weight: bold;
      }
    }

}
