<div class="main">
  <div class="report card"  style="margin:25px !important;width: 85%;">
    <div class="row">
     <div class="col-12">
       <div class="content" style="padding: 10px;">
       <h2>Términos de Uso de la Plataforma de Abogados</h2>
       <p><strong>Usuarios Registrados:</strong></p>
        <ul>
         <li> <strong>Ingresos de Suscripciones: </strong>$8,000</li>
         <li><strong> Ingresos de Asesorías:</strong> $4,500</li>
         <li><strong> Ingresos de Publicidad:</strong> $2,000</li>
         <li><strong> Otros Ingresos:</strong> $500</li>
        </ul>
        <p><strong>Suscripciones </strong></p>
        <ul>
         <li><strong>Nuevas Suscripciones (Mes de Septiembre): </strong> 20</li>
         <li><strong>Renovaciones de Suscripciones: </strong> 15</li>
         <li><strong>Cancelaciones de Suscripciones: </strong> 5</li>
        </ul>
       <br />
     
     </div>
     </div>
    </div>
    <div class="row">
     <div class="col-12">
      <button class="btn" style="width: 99%; border-radius: 15px;background-color: #181937;margin: 5px; "><span style="color:#fff">Guardar </span></button>
     </div>
    </div>
   </div>
</div>
