<table>
  <tr>
    <th><mat-icon>check_circle_outline</mat-icon></th>
    <th>Número de caso</th>
    <th>Nombre del caso</th>
    <th>Fecha inicio</th>
    <th>Estado del caso</th>
    <th>Abogado y cliente</th>
    <th>Costo</th>
  </tr>
  <tr>
    <td><mat-icon>check_circle_outline</mat-icon></td>
    <td>#123456</td>
    <td>Divorcio Smith</td>
    <td>04.12.2021 20:30</td>
    <td>Pendiente</td>
    <td>
      <span>Sierra Ferguson</span><br />
      <span>Sierra Ferguson</span>
    </td>
    <td>$00000</td>
  </tr>
  <tr>
    <td><mat-icon>check_circle_outline</mat-icon></td>
    <td>#123457</td>
    <td> Herencia Perdida y la Disputa...</td>
    <td>04.12.2021 20:24	</td>
    <td>En progreso </td>
    <td>
      <span>Sierra Ferguson</span><br />
      <span>Sierra Ferguson</span>
    </td>
    <td>$00000</td>
  </tr>
  <tr>
    <td><mat-icon>check_circle_outline</mat-icon></td>
    <td>#123456</td>
    <td>Divorcio Smith</td>
    <td>04.12.2021 20:23	</td>
    <td>Cerrado</td>
    <td>
      <span>Sierra Ferguson</span><br />
      <span>Sierra Ferguson</span>
    </td>
    <td>$00000</td>
  </tr>

</table>
