table {
  font-family: 'Poppins',sans-serif;
  border-collapse: collapse;
  width: 90%;
}

td, th {
  border: 1px solid #E4E4E4;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #E4E4E4;
}
