<div class="main-content">
  <div class="title">
    <h1>¡Tus beneficios en Law APP!</h1>
  </div>
  <div class="screen">
    <table>
      <tr>
        <td>
          <div class="box">
            <img src="../../../../assets/images/conexion.jpg" alt="">
            <h4>Conexión efectiva</h4>
            <p>Elimina barreras agilizando el proceso </p>
            <p>de encontrar la ayuda adecuada</p>
          </div>
        </td>
        <td>
          <div class="box">
            <img src="../../../../assets/images/confident.jpg" alt="">
            <h4>Transparencia y confianza</h4>
            <p>Garantiza tomar decisiones</p>
            <p>informadas al elegir a tu abogado</p>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="box">
            <img src="../../../../assets/images/technology.jpg" alt="">
            <h4>Tecnología innovadora</h4>
            <p>Ofrece soluciones eficientes y fiables </p>
            <p>que optimizan la experiencia </p>
          </div>
        </td>
        <td>
          <div class="box">
            <img src="../../../../assets/images/learning.jpg" alt="">
            <h4>Aprendizaje y desarrollo</h4>
            <p>Mantiene al tanto de las últimas noticias y </p>
            <p>desarrollos legales.</p>
          </div>
        </td>
      </tr>

    </table>

  </div>
  <p class="button">
    <button type="submit" class="btn">Continuar</button>
  </p>
</div>

