<div class="main">
 <div class="row">
  <div class="col-4">
   <div class="chart">
    <h2>¿Cada cuánto crear copias de seguridad?</h2>
    <div>
      <input type="radio"  name="backup" value="monthly" checked />&nbsp;
      <label for="active">Mensual</label>
    </div>
    <div>
      <input type="radio"  name="backup" value="twoWeeks" />&nbsp;
      <label for="scheduled">Cada 2 semanas</label>
    </div>
    <div>
      <input type="radio"  name="backup" value="weekly" />&nbsp;
      <label for="paused">Semanal</label>
    </div>
    <div>
      <input type="radio"  name="backup" value="threeDays" />&nbsp;
      <label for="paused">Cada 3 días</label>
    </div>
    <div>
      <input type="radio"  name="backup" value="everyday" />&nbsp;
      <label for="paused">Todos los días</label>
    </div>
    <div>
      <input type="radio"  name="backup" value="never" />&nbsp;
      <label for="paused">Nunca</label>
    </div>
    <p>  <button class="btn" style="width: 50%; border-radius: 15px;background-color: #181937;margin: 5px; "><span style="color:#fff">Guardar </span></button></p>
   </div>
  </div>
  <div class="col-4">
    <div class="chart">
      <h2>Plazo de retención de datos previo a la eliminación</h2>
      <div>
        <input type="radio"  name="data" value="sixMonths" checked />&nbsp;
        <label for="active">6 meses</label>
      </div>
      <div>
        <input type="radio"  name="data" value="fourMonths" />&nbsp;
        <label for="scheduled">4 meses</label>
      </div>
      <div>
        <input type="radio"  name="data" value="oneMonth" />&nbsp;
        <label for="paused">1 mes</label>
      </div>
      <div>
        <input type="radio"  name="data" value="twoWeeks" />&nbsp;
        <label for="paused">2 semanas</label>
      </div>
      <div>
        <input type="radio"  name="data" value="oneYear" />&nbsp;
        <label for="paused">1 año</label>
      </div>
      <div>
        <input type="radio"  name="data" value="never" />&nbsp;
        <label for="paused">Nunca</label>
      </div>
      <p>  <button class="btn" style="width: 50%; border-radius: 15px;background-color: #181937;margin: 5px; "><span style="color:#fff">Guardar </span></button><br /></p>
    </div>
  </div>
 </div>
</div>
