<div class="main-content">
  <div class="row">
    <div class="col-2">
      <nav>
        <sidebar></sidebar>
      </nav>
    </div>

   <div class="col-10">
    <article>
      <div class="head">
        <div class="row top">
          <div class="col-5"> <p class="head"><span (click)="goBack()"><mat-icon style="cursor: pointer;">keyboard_arrow_left</mat-icon></span>  <span> Destacar perfil </span> </p></div>
          <div class="col-5"> <p>  <span class="side"> <mat-icon class="mat-18">notifications</mat-icon> <span class="profile"> <img src="../../../../assets/images/image_profile.jpg" alt=""> Ana Richardson </span></span>   </p></div>
        </div>
       </div>

       <div class="note">
        <p>
          Haz que los clientes te encuentren más fácilmente. Con nuestra opción de destacado, tu perfil aparecerá entre los
        </p>
        <p>
          primeros resultados de búsqueda, impulsando tu visibilidad y tu éxito legal. ¡Destácate hoy mismo!
        </p>
       </div>

       <div class="row">
        <div class="col-12">
          <div class="card options">
             <div class="row">
               <div class="col-3">
               <div class="dot"></div>
               <h5>Posición de destaque</h5>
               <p>Aparece primero en las búsquedas legales para destacar.</p>
               </div>
               <div class="col-3">
               <div class="dot"><mat-icon>visibility</mat-icon></div>
               <h5>Credibilidad</h5>
               <p>Demuestra excelencia y genera confianza destacando tu perfil.</p>
               </div>
               <div class="col-3">
               <div class="dot"><mat-icon> beenhere</mat-icon></div>
               <h5>Mayor Visibilidad</h5>
               <p>Aumenta clientes siendo uno de los primeros en aparecer en búsquedas.</p>
               </div>
               <div class="col-3">
               <div class="dot"></div>
               <h5>Aumenta tu Éxito</h5>
               <p>Aumenta tus oportunidades legales.</p>
               </div>
             </div>
          </div>
        </div>
       </div>

       <div class="row">
        <div class="col-12">
          <div class="card profile">
            <div class="row">
              <div class="col-6">
                <div class="card user">
                    <p class="image">
                      <img class="user rounded" style="margin-top: 20px !important;" src="../../../../assets/images/users.PNG" alt="">
                    </p>
                    <p class="name">Sarah Guarin</p>
                    <p class="country">Cali, Colombia</p>
                    <p class="buttons"> <button class="btn">Derecho administrativo</button> <button class="btn">Derecho comercial </button></p>
                    <p class="profile"> <mat-icon class="mat-18">work_outline</mat-icon> 3 proyectos completados</p>
                    <p class="profile">  <mat-icon class="mat-18">query_builder</mat-icon> 2 años de experiencia</p>
                  </div>
              </div>
              <div class="col-6">
                <h3> Personaliza tu destaque </h3>
                <p class="paragraph">Define tu área de especialización y ubicación para llegar a tu audiencia objetivo. </p>
                <div class="search">
                 <input type="text" placeholder="Área de especialización">
                </div>
                <div class="search">
                  <input type="text" placeholder="Ubicación">
                </div>
                <p class="buttons">  <button class="btn" style="width: 189px;height: 57px; border-radius: 20px;background-color: #E2AC6C;margin: 5px; "><span style="color:#fff">Destacar perfil </span></button></p>
              </div>

            </div>

          </div>
        </div>


       </div>
    </article>
   </div>
  </div>
</div>
