<div class="main-content">
  <div class="row">
    <div class="col-2">
      <nav>
        <sidebar></sidebar>
      </nav>
    </div>

   <div class="col-10">
    <article>
      <div class="head">
        <div class="row top">
          <div class="col-6"> <p class="head"><span><mat-icon style="cursor: pointer;">keyboard_arrow_left</mat-icon></span>  <span> Seguimiento de casos </span>     <span><mat-icon style="cursor: pointer;">keyboard_arrow_right</mat-icon></span>            <span> Crear nuevo caso </span> </p></div>
          <div class="col-4"> <p>  <span class="side"> <mat-icon class="mat-18">notifications</mat-icon> <span class="profile"> <img src="../../../../assets/images/image_profile.jpg" alt=""> Ana Richardson </span></span>   </p></div>
        </div>
       </div>

       <div class="row">
        <div class="col-12">
          <div class="row myProgress" >
            <div class="myBar"> <span class="percent">15% </span></div>
            <span class="" style="text-align: center;">
              Progreso
            </span>
            </div>
        </div>
       </div>

       <div class="row">
        <div class="col-12">
          <div class="card cases">
            <div class="name">
              <div class="row">
                <div class="col-9">
                  <h2>Nombre del caso</h2>
                  <h4>Fecha de inicio</h4>
                  <h5>Nombre del cliente</h5>
                </div>
                <div class="col-3">
                  <button type="submit" class="btn" style="background-color: #181937;border-radius: 15px; color:#fff" >Mensaje</button>
                </div>

              </div>
            </div>
            <p class="meeting">Reuniones próximas:</p>
            <div class="meeting">
              <div class="row">
                <div class="col-9">
                  <h2>Modalidad</h2>
                  <h4>Nombre de la reunión</h4>
                  <h5>Fecha de la reunión</h5>
                </div>
                <div class="col-3">
                  <button type="submit" class="btn" style="background-color: #181937;border-radius: 15px; color:#fff" >Entrar</button>
                </div>

              </div>
            </div>
            <div class="description">
              <div class="row">
                <div class="col-9">
                  <h2>Descripción del caso:</h2>
                  <h4>Describir detalladamente el caso...</h4>
                  <h5>Deberes del cliente:</h5>
                  <p>Escribir el documento que necesitas que el cliente suba</p>
                  <h2>Avances del caso:</h2>
                  <h4>Describir detalladamente el caso...</h4>
                  <p>Escribir el documento que necesitas que el cliente suba</p>
                </div>
              </div>
            </div>
            <p> <button type="submit" class="btn" style="background-color: #181937;border-radius: 15px; color:#fff;margin:0 auto !important" >Crear</button> </p>
          </div>
        </div>
       </div>
    </article>
   </div>
  </div>
</div>
