@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

span.button{
  padding: 10px !important;
  border-radius: 20px !important;
  margin-left: 15px;
  button.pay{
    width: 220px;
    height: 92px;
    background-color: #E2AC6C;
    border-radius: 20px !important;
    border: #E2AC6C !important;
    span{
      color:#fff;
      font-family: 'Poppins', sans-serif !important;
      font-size: 17px !important;
      font-weight: bold;
    }
  }
}
