@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


div.main-content{
  div.head{
    p.head{
      margin-top: 10px !important;
      font-family: 'Poppins', sans-serif;
    }
  }

  div.generate{
     h6.generate{
      margin-left: 5px;
      color: #8C8C8C;
      font-size: 13px;
      font-family: 'Poppins', sans-serif;
     }
     h6.request{
      margin-left: 5px;
      margin-bottom: 0 !important;
      color: #8C8C8C;
      font-size: 13px;
      font-family: 'Poppins', sans-serif;
     }
     button.set{
      width: 80%;
      height: 57px;
      background-color: #181937;
      border-radius: 15px;
      margin-left: 15px;
      margin: 0 auto !important;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      margin-bottom: 10px !important;
     }
     p{
      margin-bottom: 2px !important;
     }
     td, th {
      border: 1px solid #fff !important;
      text-align: left;
      padding: 8px;
    }
  }

  span.side{
    float: right;
    mat-icon{
      padding:25px !important;
      margin-right:25px !important;
    }
  }
  div.side{
    float: right !important;
    margin-right: 50px;
    span.profile{
      padding-left: 25px !important;
    }
  }
  p.head{
    div.top{
      margin-left: 50px !important;
    }
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 23px;
    color:#181937;
    span{
      margin-right: 10px;
      mat-icon.keyboard{
        font-size: 25px !important;
        cursor: pointer;
      }
      span.profile{
        font-size:17px;
        font-family: 'Poppins', sans-serif;
        color: #181937;
        margin-left: 25px !important;
        padding-left: 25px !important;
      }
    }

  }

  article{
    margin-top: 30px !important;
    padding: 10px !important;
    margin-left: 15px !important;
  }

  div.search{
    margin-left: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    input{
      width: 85% !important;
      background-color: #F1F1F1;
      border-radius: 15px;
      height: 42px !important;
      border: #F1F1F1;
    }

  }

  div.input{
    margin-left: 5px;
    margin-bottom: 6px;
    input{
      width: 70% !important;
      background-color: #F1F1F1;
      border-radius: 15px;
      height: 33px !important;
      border: #F1F1F1;
    }

  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
  }

  td, th {
    border: 1px solid #F0F4F7;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #F0F4F7;
  }

  div.report{
    p.report{
      font-size: 13px;
      font-weight: lighter;
      color: #181937 !important;
      font-family: 'Poppins', sans-serif;
    }
  }

  div.request{
    width: 35% !important;
    margin-top: 30px !important;
    border-radius: 10px;
    border-color: #F1F1F1;
    h3{
      margin-bottom: 25px !important;
      margin-top: 15px !important;
      margin-left: 15px !important;
      font-weight: bold;
      font-size: 17px;
      font-family: 'Poppins', sans-serif;
      color:#181937;
    }

    
    input{
      display: block;
      margin-left: 60px !important;
      margin-right: auto;
      width: 65% !important;
      background-color: #F1F1F1;
      border-radius: 15px;
      height: 42px !important;
      border: #F1F1F1;
      margin-bottom: 10px !important;
      margin-left: 15px !important;
    }
    ::placeholder {
      margin-left: 50px !important;
    }
    textarea{
      background-color: #F1F1F1 !important;
      margin-top: 5px !important;
      margin-bottom: 5px !important;
      margin-left: 15px !important;
      border: 1px solid #F1F1F1;
      width: 65% !important;
      border-radius: 15px;
    }
  }
}
