<div class="main-content">
  <div class="column">
  <div class="logo">
    <img class="la" src="../../../../assets/images/logo_orange.jpg" alt="logo-low-app">
  </div>
  <ul>
    <li (click)="directTo('panel')"><a class="active" ><span> <mat-icon>home_outline</mat-icon> </span> <span class="title" style="color:#fff;">Panel de control</span></a></li>
    <li (click)="directTo('manage-users')"><a> <span> <mat-icon>people_outline</mat-icon> </span>Gestión de usuarios</a></li>
    <li (click)="directTo('user-cases')"><a> <span> <mat-icon>work_outline</mat-icon> </span>Casos y procesos legales</a></li>
    <li (click)="directTo('content')"><a> <span> <mat-icon>assignment_outline</mat-icon> </span>Contenido y comunicación</a></li>
    <li (click)="directTo('marketing')"><a> <span> <mat-icon>message_outline</mat-icon> </span>Marketing y promoción</a></li>
    <li (click)="directTo('analitics')"><a> <span> <mat-icon>calendar_today</mat-icon> </span>Análisis y estadísticas</a></li>
    <li (click)="directTo('admin-payments')"><a> <span> <mat-icon>data_usage_outline</mat-icon> </span>Gestión de pagos</a></li>
    <li (click)="directTo('reports')"><a> <span> <mat-icon>check_circle_outline</mat-icon> </span>Generación de informes</a></li>
    <li (click)="directTo('configurations')"><a> <span> <mat-icon>list_alt</mat-icon> </span>Configuración y seguridad</a></li>
    <li (click)="directTo('client-support')"><a> <span> <mat-icon>person_outline</mat-icon> </span>Soporte y servicio al cliente</a></li>
    <li (click)="directTo('account')"><a> <span> <mat-icon>list_alt</mat-icon> </span>Cuenta</a></li>
    <li  (click)="directTo('login')"><a style="color: #E53232;"> <span> <mat-icon style="color:#E53232;">person_outline</mat-icon> </span>Cerrar sesión</a></li>
  </ul>
</div>
</div>
<router-outlet></router-outlet>
