<div class="main-content">
  <div class="row first">
  <div class="col-6 lawyer">
  </div>


  <div class="col-6">
    <div class="logo">
      <img class="la" src="../../../../assets/images/logo.png" alt="logo-low-app">
    </div>


    <div class="recovery">
      <p class="title">Recupera tu contraseña</p>

      <p class="personal">Ingresa tu correo y te enviaremos un link para</p>
       <p class="personal">que puedas ingresar a tu cuenta</p>
      <div class="form">
       <form>
         <div class="input-group mb-3">
           <span class="input-group-text">@</span>
           <input type="text" class="form-control" placeholder="Correo electrónico" name="usrname">
         </div>


         <p class="button">
           <button type="submit" class="btn">Enviar</button>
         </p>

       </form>
      </div>
     </div>
  </div>
  </div>
  </div>

