<div class="main-content">
  <h3 class="title">Opciones de descarga </h3>
  <div class="row">
    <div class="col-6">
      <p>  <mat-icon>check_circle_outline</mat-icon>&nbsp;Exportar a CVS</p>
      <p>  <mat-icon>check_circle_outline</mat-icon>&nbsp;Exportar a Excel</p>
      <p>  <mat-icon>check_circle_outline</mat-icon>&nbsp;Exportar a PDF</p>
      <p>  <mat-icon>check_circle_outline</mat-icon>&nbsp;Compartir enlace de informe</p>
      <p>  <mat-icon>check_circle_outline</mat-icon>&nbsp;Descargar gráficos en PNG</p>
      <p>  <mat-icon>check_circle_outline</mat-icon>&nbsp;Descargar gráficos en JPEG</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="btn down"><span style="color:#fff;font-weight: bold;font-size: 20px;">Descargar </span></button>
    </div>
  </div>
</div>

