<div class="main-content">
  <div class="row">
    <div class="col-2">
      <nav>
        <admin-sidebar></admin-sidebar>
      </nav>
    </div>

    <div class="col-10">
        <article>
          <div class="head">
            <div class="row top">
              <div class="col-5"> <p class="head">  <span>Casos y procesos legales </span> </p></div>
              <div class="col-5"> <p>  <span class="side"> <mat-icon class="mat-18">notifications</mat-icon> <span class="profile"> <img src="../../../../assets/images/image_profile.jpg" alt=""> Ana Richardson </span></span>   </p></div>
            </div>
           </div>

           <div class="note">
            <p>
              Administra casos legales en un solo lugar.
            </p>
           </div>
           <div class="row history">
             <div class="col-10">
               <h3>Historial de casos</h3>
             </div>
             <div class="col-2">
               <div>
                <span>
                  <select name="" id="">
                    <option value="">Oct  2023</option>
                    <option value="">Sep  2023</option>
                  </select>
                </span>
               </div>
             </div>
           </div>
           <div class="row">
            <div class="col-12">
              <div class="search">
                <input type="text" placeholder="Ingresa el nombre o número de caso">&nbsp;
                <select  id="" (click)="openFilters()" style="border-radius: 15px !important; background-color: #f2f2f2;border:">
                  <option value="Sep2023" class="dates">Filtros</option>
                </select>
              </div>
            </div>
           </div>
           <div class="row">
            <div class="col-12">
              <cases-tables></cases-tables>
            </div>
          </div>

        <br />
        <div class="sentences">
        <div class="row myProgress" >
        <div class="myBar">15%</div>
        </div>
        <br />
        <!--button (click)="move()">Click Me</!--button-->

        <div class="defense row">
          <div class="col-8">
            <h2>Defensa Legal en Caso de Discriminación Laboral</h2>
            <h6>Fecha: Miércoles, 20 Agosto 2023</h6>
            <p> <img src="../../../../assets/images/image_profile.jpg" alt="">   <span>Raquel Victoria</span></p>

          </div>
          <div class="col-4">
           <p class="amount">$00000</p>
          </div>
        </div>
        <h2 class="meeting">Reuniones próximas:</h2>
        <div class="cases_title">
          <div class="Virtual">
            Virtual
          </div>
          <p class="one">Defensa en el Caso de Propiedad Intelectual: Protegiendo la innovación tecnológica</p>
          <p> <span class="date"> Martes, 7 de Septiembre 2023</span> <span class="time">7:00 AM - 8:00 AM </span></p>
        </div>

        <div class="description">
          <h2>Descripción del caso:</h2>
          <p class="one">María Rodríguez es una empleada con una destacada trayectoria de más de una década en la empresa [Nombre de la Empresa] ubicada en [Ciudad/Región]. En las reuniones iniciales con María, se presentaron las siguientes observaciones y elementos clave del caso:</p>
          <p>Discriminación Sistemática: María ha experimentado una discriminación laboral sistemática durante su empleo. Esto incluye trato desigual, exclusión deliberada y comentarios ofensivos de parte de superiores y compañeros de trabajo.</p>
          <h2>Deberes del cliente:</h2>

        </div>

    </div>
        </article>
    </div>


  </div>



</div>
