@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

div.main-content{
  div.history{
    margin-top: 20px !important;
    h3{
      font-size: 20px;
      font-weight: bold;
      text-align: left;
      font-family: 'Poppins',sans-serif;
    }
  }
  span.side{
    float: right;
    mat-icon{
      padding:25px !important;
      margin-right:25px !important;
    }
  }
  div.side{
    float: right !important;
    margin-right: 50px;
    span.profile{
      padding-left: 25px !important;
    }
  }
  p.head{
    margin-top: 30px !important;
    margin-bottom: 0 !important;
    div.top{
      margin-left: 50px !important;
    }
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    font-size: 23px;
    color:#181937;
    span{
      margin-right: 10px;
      mat-icon.keyboard{
        font-size: 25px !important;
        cursor: pointer;
      }
      span.profile{
        font-size:17px;
        font-family: 'Poppins',sans-serif;
        color: #181937;
        margin-left: 25px !important;
        padding-left: 25px !important;
      }
    }

  }

  article{
    margin-top: 30px !important;
    padding: 10px !important;
    margin-left: 15px !important;
  }

  div.note{
    p{
      margin-left: 5px;
      font-family: 'Poppins',sans-serif;
      color: #181937;
      font-size: 16px;
      margin-bottom: 0;

    }
  }

  div.search{
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    input{
      width: 80% !important;
      background-color: #F1F1F1;
      border-radius: 15px;
      height: 42px !important;
      border: #F1F1F1;
    }

  }

  div.chapters{
    background-color: #F1F1F1;
  }



div.search{
  margin-left: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  input{
    width: 85% !important;
    background-color: #F1F1F1;
    border-radius: 15px;
    height: 42px !important;
    border: #F1F1F1;
  }

}



div.myProgress {
  width: 100%;
  background-color: #ddd;

}

div.myBar {
  width: 10%;
  height: 30px;
  background-color: #181937;
  text-align: center;
  line-height: 30px;
  color: white;
}

div.defense{
  margin-top: 20px !important;
  padding-top: 20px !important;
  background-color: #181937;
  border: 1px solid #181937;
  border-radius: 15px;
  margin-bottom: 15px;
  h2{
    font-size: 25px;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    text-align: left;
    color: #fff;

  }
  h6{
    font-size: 15px;
    font-family: 'Poppins',sans-serif;
    color:#F1F1F1;
    text-align: left;
  }
  span{
    font-size: 15px;
    color:#fff;
    margin-left: 15px;
  }
  p.amount{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Poppins',sans-serif;
    color: #fff;
    margin-top: 10px !important;
  }

}

div.cases-title{
  margin-top: 30px !important;
}

div.description{
  margin-top: 30px !important;
  h2{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins',sans-serif;
  }
  p{
    font-size: 15px;
    font-family: 'Poppins',sans-serif;
  }
}

div.cases_title > div.virtual{
  height: 27px !important;
  width: 116px !important;
  border: 1px solid #04AA6D;;
  background-color: #04AA6D;

}

div.cases_title{
  background-color: #fff;
  border-radius: 10px;

  p.one{
    font-size: 17px;
    font-weight: bold;
    font-family: 'Poppins',sans-serif;
    margin-left: 15px;
  }
  span.date{
    font-size: 15px;
    margin-left: 30px;
    color:#000;
  }

  span.time{
    font-size: 15px;
    margin-left: 60px;
    color:#000;
  }


}


}
