<div class="main-content">
<H2>Filtros de usuarios</H2>
<h4>Tipos de usuarios</h4>
<div>
  <input type="radio"  name="users" value="lawyers" checked />
  <label for="lawyers">Abogados</label>
</div>
<div>
  <input type="radio"  name="users" value="customers" />
  <label for="lawyers">Clientes</label>
</div>
<br />
<h4>Fecha de registro</h4>
<p>Septiembre</p>
<br />
<div class="row">
  <div class="col-6">
    <h4>Estado de cuenta</h4>
    <div>
      <input type="radio"  name="account" value="active" checked />
      <label for="lawyers">Activos</label>
    </div>
    <div>
      <input type="radio"  name="account" value="inactive" />
      <label for="lawyers">Inactivos</label>
    </div>
    <div>
      <input type="radio"  name="account" value="suspended" />
      <label for="lawyers">Suspendidos</label>
    </div>
  </div>

  <div class="col-6">
    <h4>Suscripción</h4>
    <div class="row">
      <div class="col-6">
        <div>
          <input type="radio"  name="type" value="whatever" checked />
          <label for="whatever">Cualquiera</label>
        </div>
        <div>
          <input type="radio"  name="type" value="basic" />
          <label for="basic">Básica</label>
        </div>
        <div>
          <input type="radio"  name="type" value="premiun" />
          <label for="premiun">Premiun</label>
        </div>

      </div>

      <div class="col-6">
        <div>
          <input type="radio"  name="type" value="vip" checked />
          <label for="vip">Vip</label>
        </div>
        <div>
          <input type="radio"  name="type" value="paper" />
          <label for="paper">Boletín</label>
        </div>
        <div>
          <input type="radio"  name="type" value="profile" />
          <label for="profile">Perfil destacado</label>
        </div>
      </div>
    </div>
  </div>

</div>

<br />
<div class="row">
  <div class="col-6">
    <h4>Ubicación</h4>
    <br />
    <div class="search">
      <input type="text" placeholder="Ciudad">
    </div>
    <h4>Especialización</h4>
    <br />
    <div class="search">
      <input type="text" placeholder="Especialización">
    </div>
  </div>

  <div class="col-6">
    <h4>Calificación</h4>
    <div>
      <input type="radio"  name="stars" value="1" checked />
      <label for="one">1 estrella</label>
    </div>
    <div>
      <input type="radio"  name="type" value="2" />
      <label for="two">2 estrellas</label>
    </div>
    <div>
      <input type="radio"  name="type" value="3" />
      <label for="three">3 estrellas</label>
    </div>
    <div>
      <input type="radio"  name="type" value="4" />
      <label for="four">4 estrellas</label>
    </div>
    <div>
      <input type="radio"  name="type" value="5" />
      <label for="five">5 estrellas</label>
    </div>
  </div>
</div>
 <br />
 <div class="button">
  <button type="submit" class="btn btn-primary" >Buscar</button>
 </div>

</div>
