<div class="main">
  <div class="row">
    <div class="col-4">
      <div class="planes">
       <h4>Planes</h4>
       <p> Basic:&nbsp;<span class="count"> $00000</span></p>
       <p> Premium:&nbsp;<span class="count"> $00000</span></p>
       <p> VIP:&nbsp;<span class="count"> $00000</span></p>
      </div>
    </div>
    <div class="col-4">
      <div class="newsletter">
        <h4>Boletín</h4>
         <p class="amount"> $00000</p>
      </div>
    </div>
    <div class="col-4">
      <div class="profile">
        <h4>Destacar perfil</h4>
        <p class="amount">
          $00000
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="buttons">   <button style="margin-left: 10px !important;border-radius: 15px;width: 91%;margin-top: 20px !important;background-color:#181937;"  type="submit" class="btn btn-dark"> <span class="change"> Cambiar</span></button> </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
     <h4 class="promotions">Crear promoción</h4>
     <p class="para">Los valores dispuestos arriba son el valor fijo de los servicios. En esta sección de “crear promoción”, puedes configurar los valores que quieres promocionar, el público objetivo y los intervalos de fechas de la promoción.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="planes">
       <h4>Planes</h4>
       <p> Basic:&nbsp;<span class="count"> $00000</span></p>
       <p> Premium:&nbsp;<span class="count"> $00000</span></p>
       <p> VIP:&nbsp;<span class="count"> $00000</span></p>
      </div>
    </div>
    <div class="col-4">
      <div class="newsletter">
        <h4>Boletín</h4>
         <p class="amount"> $00000</p>

      </div>
    </div>
    <div class="col-4">
      <div class="profile">
        <h4>Destacar perfil</h4>
        <p class="amount">
          $00000
        </p>

      </div>

    </div>

  </div>

  <div class="row">
      <h4 class="promotions">Público objetivo</h4>
      <div class="col-4">
        <div>
          <input type="radio"  name="state" value="active" checked />&nbsp;
          <label for="active" class="public">Publico objetivo</label>
        </div>
        <div>
          <input type="radio"  name="state" value="scheduled" />&nbsp;
          <label for="scheduled" class="public">Publico objetivo</label>
        </div>
      </div>
      <div class="col-4">
        <div>
          <input type="radio"  name="state" value="completed"  />&nbsp;
          <label for="completed" class="public">Publico objetivo</label>
        </div>
        <div>
          <input type="radio"  name="state" value="cancelled" />&nbsp;
          <label for="cancelled" class="public">Publico objetivo</label>
        </div>
      </div>

      <div class="col-4">
        <div>
          <input type="radio"  name="state" value="noapproved"  />&nbsp;
          <label for="noapproved" class="public">Publico objetivo</label>
        </div>
        <div>
          <input type="radio"  name="state" value="noapproved"  />&nbsp;
          <label for="noapproved" class="public">Publico objetivo</label>
        </div>
       </div>
  </div>
</div>
