<div class="news">
  <div class="row root">
    <p class="title-resources" style="font-size: 20px;color:#8C8C8C;">Dale un título a la campaña... </p>
    <p class="minus" style="font-size: 13px;color:#8C8C8C;">Proporciona una descripción de la campaña y sus objetivos.</p>
    <br />

    <div class="row">
      <div class="col-2">
        <h4><strong>Fecha de inicio</strong></h4>
        <div class="search">
          <input type="text" placeholder="Septiembre">
        </div>
      </div>
      <div class="col-1">
        <p>&nbsp;</p>
        <div class="search">
          <input type="text" placeholder="23">
        </div>
      </div>
      <div class="col-2">
        <p>&nbsp;</p>
        <div class="search">
          <input type="text" placeholder="2023">
        </div>
      </div>
      <div class="col-2">
        <h4><strong>Fecha de finalización</strong></h4>
        <div class="search">
          <input type="text" placeholder="Mes">
        </div>
      </div>
      <div class="col-1">
        <p>&nbsp;</p>
        <div class="search">
          <input type="text" placeholder="00">
        </div>
      </div>
      <div class="col-2">
        <p>&nbsp;</p>
        <div class="search">
          <input type="text" placeholder="0000">
        </div>
      </div>
    </div>

      <div class="row">
      <div class="col-2">
        <h4><strong>Estado</strong></h4>
        <div class="search">
          <input type="text" placeholder="En creación">
        </div>
      </div>
      <div class="col-1">
      </div>
      <div class="col-2">
      </div>
      <div class="col-2">
        <h4><strong>Presupuesto</strong></h4>
        <div class="search">
          <input type="text" placeholder="$000000">
        </div>
      </div>
      <div class="col-1">
      </div>
      <div class="col-3">
         <h4><strong>Responsables de la campaña</strong></h4>
        <div class="search">
          <ul style="background-color: #F1F1F1;list-style-type: none;">
            <li style="padding-top: 5px;"><img src="../../../../assets/images/image_profile.jpg" alt="">&nbsp;Sierra Ferguson</li>
            <li style="padding-bottom: 5px;"><img src="../../../../assets/images/image_profile.jpg" alt="">&nbsp;Sierra Ferguson</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <h4><strong>Segmentación de la audiencia</strong></h4>
        <div class="search">
          <input type="text" placeholder="Ubicación"><br/>
        </div>
        <div class="search">
          <input type="text" placeholder="Área de especialización"><br/>
        </div>
      </div>

      <div class="col-3">
        <h4><strong>Tipo de contenido</strong></h4>
        <div class="search">
          <textarea name="" id="" cols="30" rows="5" style="background-color: #F1F1F1;" placeholder="Correo electrónico, anuncios, publicaciones, etc"></textarea>
        </div>
      </div>
      <div class="col-1">
      </div>
    </div>
  </div>
  <br />

  <p class="title-resources" style="font-size: 15px;color:#000;font-weight: bold;">Contenido de la campaña </p>
  <div class="search" style="width: 400px">
    <input type="text" placeholder="Escribe aquí el contenido textual de la campaña...">
  </div>
  <p> <strong style="font-size:17px ">Adjuntar archivos</strong></p>
  <br/>
  <p>  <input type="radio"  name="privacy" value="managers" style="width: 25px; height: 25px;" />&nbsp;&nbsp;<mat-icon class="mat-18">add_circle</mat-icon>&nbsp;&nbsp;<span>Adjunta archivo</span></p>
  <br />
  <p> <strong style="font-size: 17px;">Agregar enlaces </strong></p>
  <div class="search" style="width: 320px">
    <input type="text" placeholder="asdfghjikol.com">
  </div>

  <br />
  <div class="row">
    <div class="col-3">

    </div>

    <div class="col-3">
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#review" style="border: 1px solid #000; border-radius: 15px;background-color: #181937;">Crear campaña </button>
    </div>
    <div class="col-3">
    </div>
  </div>
  <br />
</div>
