<div class="main-content">
  <div class="top">
   <h1><span (click)="goBack()"><mat-icon>keyboard_arrow_left</mat-icon></span>Términos y condiciones </h1>
   <div class="input"> <input type="text" placeholder="Buscar"></div>
   <p class="subtitle">Bienvenido a nuestra aplicación. Los siguientes términos y condiciones rigen tu uso de esta plataforma. Al utilizar la aplicación, aceptas cumplir con estos términos y condiciones. Lee detenidamente los siguientes términos y condiciones antes de continuar utilizando la aplicación.
   </p>
  </div>

  <div class="bottom">
    <h2>Política de Privacidad:</h2>
    <p>Nos tomamos en serio tu privacidad. Nuestra política de privacidad explica cómo recopilamos, utilizamos y protegemos la información personal que nos proporcionas al utilizar la aplicación. Te recomendamos leer nuestra política de privacidad para comprender cómo manejamos tus datos.
    </p>
   <h2>Política de Cookies:</h2>
   <p>Si utilizamos cookies u otras tecnologías similares en nuestra aplicación, encontrarás información detallada sobre su uso y propósito en nuestra Política de Cookies. Al continuar utilizando la aplicación, aceptas nuestro uso de cookies de acuerdo con esta política.
   </p>
   <h2>Derechos de Propiedad Intelectual:</h2>





  </div>






</div>
