<div class="active card"  style="width: 85%">
  <div class="section" style="padding: 5px;">
    <p style="text-align: justify;">Fecha de campaña: 15 de noviembre de 2023</p>
    <h2>Informe de Seguimiento de Resultados de Campaña de Marketing - "Campaña de Abogados Expertos"</h2><br />
    <p>La "Campaña de Abogados Expertos" se lanzó el 1 de octubre de 2023 con el objetivo de promover nuestros servicios de asesoría legal con abogados especializados en diversas áreas. La campaña se llevó a cabo en diversas plataformas en línea, incluyendo redes sociales, correo electrónico y anuncios en sitios web de noticias legales.</p>
    <h4><strong>Objetivos de la Campaña: </strong></h4>
    <ul>
      <li>Aumentar el número de registros de nuevos usuarios en la plataforma en un 20%.</li>
      <li>Incrementar la participación de abogados registrados en un 15%.</li>
      <li>Aumentar las ventas de asesorías legales en un 10%.</li>
    </ul>
    <br />
    <h4><strong>Resultados de la Campaña:</strong></h4>
    <ul>
      <li>Registro de Usuarios: Se logró un aumento del 25% en el número de nuevos registros de usuarios durante el período de la campaña, superando el objetivo establecido.</li>
      <li>Participación de Abogados: La participación de abogados registrados aumentó en un 18%, acercándose al objetivo.</li>
      <li>Ventas de Asesorías Legales: Las ventas de asesorías legales aumentaron en un 12%, superando el objetivo inicial.</li>
    </ul>
    <br />
    <h4><strong>Estrategias y Canales de Marketing:</strong></h4>
    <ul>
      <li>Redes Sociales: Las publicaciones diarias en nuestras redes sociales obtuvieron una alta participación y generaron nuevos registros de usuarios.</li>
      <li>Campañas de Correo Electrónico: El envío de correos electrónicos informativos a usuarios existentes y abogados registrados generó interés y participación.</li>
      <li>Publicidad en Sitios Web Legales: Los anuncios en sitios web de noticias legales dirigieron el tráfico de calidad a la plataforma.</li>
    </ul>
    <br />
    <h4><strong>Análisis de Costos:</strong></h4>
    <ul>
      <li>Costo Total de la Campaña: $5,000.</li>
      <li>Costo por Adquisición (CPA): $10 por nuevo usuario registrado.</li>
      <li>ROI (Retorno de la Inversión): El ROI calculado fue del 120%, lo que indica una inversión rentable.</li>
    </ul>
    <br />
    <p style="text-align: justify;">
      Conclusión: La "Campaña de Abogados Expertos" resultó en un aumento significativo en el registro de nuevos usuarios y en las ventas de asesorías legales. Aunque no se alcanzaron todos los objetivos en su totalidad, los resultados indican una campaña efectiva y rentable. Las estrategias y canales de marketing utilizados demostraron ser exitosos y pueden servir de base para futuras campañas.</p>
    <p>Recomendaciones:</p>

  </div>
</div>
