<div class="main-content">
  <h3 class="title">Asignar administrador </h3>
  <div class="row">
    <div class="col-6">
      <p>  <mat-icon>check_circle_outline</mat-icon>&nbsp;Administrador 1</p>
      <p>  <mat-icon>check_circle_outline</mat-icon>&nbsp;Administrador 2</p>
      <p>  <mat-icon>check_circle_outline</mat-icon>&nbsp;Administrador 3</p>
      <p>  <mat-icon>check_circle_outline</mat-icon>&nbsp;Moderador</p>
      <p>  <mat-icon>check_circle_outline</mat-icon>&nbsp;Superadministrador</p>
      <p>  <mat-icon>check_circle_outline</mat-icon>&nbsp;Administrador 4</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="btn down"><span style="color:#fff;font-weight: bold;font-size: 20px;">Envíar </span></button>
    </div>
  </div>
</div>
