
div.main-content{
  border-radius: 15px;
  h3.title{
    color: #181937;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
  }
  button.down{
    width: 100%;
    border-radius: 15px;
    background-color: #181937;
    margin: 10px;
    margin-left: 1px;
  }
}
