<table>
  <tr style="background-color: #E4E4E4;">
    <th></th>
    <th>Código</th>
    <th>Fecha</th>
    <th>Nombre de noticia</th>
    <th>Sección</th>
    <th>Estado</th>

  </tr>
  <tr>
    <td><mat-icon>check_circle_outline</mat-icon></td>
    <td>53165</td>
    <td>01/12/23</td>
    <td>Importantes Cambios en la Legislación Fiscal para el Año 2023</td>
    <td>Noticias</td>
    <td>
      Publicada
    </td>

  </tr>
  <tr>
    <td><mat-icon>check_circle_outline</mat-icon></td>
    <td>53165</td>
    <td> 01/12/23</td>
    <td>Importantes Cambios en la Legislación Fiscal para el Año 2023</td>
    <td>Suscripción </td>
    <td>
      Eliminada
    </td>

  </tr>
  <tr>
    <td><mat-icon>check_circle_outline</mat-icon></td>
    <td>53165</td>
    <td>01/12/23</td>
    <td>Importantes Cambios en la Legislación Fiscal para el Año 2023	</td>
    <td>Suscripción</td>
    <td>
      Eliminada
    </td>

  </tr>

</table>
